<h2>Add a Stop</h2>
<div>
  <label>StopId:
    <input #stopId />
  </label>
  <label>Name:
    <input #name />
  </label>
  <label>Coordinates
    <input #coordinates />
  </label>
  <button (click)="add(stopId.value, name.value, coordinates.value)">Add Stop</button>
</div>

<h2>All Stops</h2>
<ul class="stops">
  <li *ngFor="let stop of stops">
    <a routerLink="/stops/{{stop.id}}">
    <span class="badge"></span> {{stop.name}} </a>
    <button class="delete" title="delete stop"
      (click)="delete(stop)">x</button>
  </li>
</ul>